body{
    background-color: aliceblue;
    
}
.container{
    width:50%;
    margin:0 auto;
    text-align: center;
}

form{
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    background-color: rgb(0, 128, 128);
    color:black;
    border: none;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(3, 180, 180);
}